<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="Site web électricien Franche-Comté">
  	<meta name="author"      content="{{ .Site.Author }}">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:site_name" content="JB Électricité">
    <meta property="og:title" content="J/B Électricité">
    <meta property="og:description" content="J/B Électricité votre électricien sur la Franche-Comté">
    <meta property="og:url" content="https://JB-électricité.fr/">
    <meta property="og:image" content="https://JB-électricité.fr/images/SVGLogoJBelectricite.svg">
    
{{ partial "head/head.html" . }}
</head>

<body class="body" style="background-color: #ffffff;">
  <nav class="navbar navbar-default">
{{/*    {{ block "header" . }}
  */}}  {{ partial "head/header.html" . }}   
  <div class="logo-header">
              <a href="{{ .Site.BaseURL }}/">
                <img class='img' src="{{ .Site.BaseURL }}images/LogoJBelecticite.png" height="150px" alt="JB-électricité logo-home">
              </a>
            </div>

{{/*           <a class="logo-link" href="mailto:{{ .Site.Params.email }}" alt="email">{{ .Site.Params.email }}</a>
  */}}       

  {{/*  <h3 style="color: #000000;">- Énergiser demain, un rendez-vous à la fois –</span>
    */}}<div class="row">
      
      
      {{/*    <a href="{{ ref . "rendez-vous.md" | absURL }}/">
        <img class='logo-top' src=" {{ ref . "images/LogoJBelecticite.png" | absURL }} height="59px" alt="JB-électricité logo-home">
      </a>  */}}
      {{/*     <div class="col-sm-8 col-sm-offset-2">
        <div id="share">
          {{ if .Params.Share }}
          {{ partial "sharethis.html" . }}
              
					{{ end }}
				</div>
      </div>  */}}
      {{/*  {{ end }}
  */}}      
      {{ block "main" . }}
  <h1 class="entry-title">
    <div class="entry-meta"></div>
      {{ end }}
    <h1 class="prev-next">
      {{ with .Next }}
      <a href="{{ .RelPermalink }}">&#11178</a>
      {{ end }}
      {{ with .Prev }}
      <a href="{{ .RelPermalink }}">&#11179</a>
    </h1>
      {{ end }}
      
      {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
      {{ end }}
  </body>  
</html>