<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
  	<meta name="description" content="Site web électricien Franche-Comté">
  	<meta name="author"      content="{{ .Site.Author }}">

    {{ partial "head/head.html" . }}
  </head>
  
  <body class="home" style="background-color: #ffffff;">
               
    {{ block "header" . }}
      {{ partial "head/header.html" . }}
<h1 id="logo" class="logo">
  <a href="{{ .Site.BaseURL }}/">
    <img class='img-{{ .Site.Params.avatarclass | default ""}}' src="{{ .Site.BaseURL }}/images/LogoJBelecticite250.png" alt="JB-élec">
  </a>
<a class="logo-link" href="mailto:{{ .Site.Params.email }}" alt="email">{{ .Site.Params.email }}</a>
  {{/*  <h3 style="color: #000000;">- Énergiser demain, un rendez-vous à la fois –</span>
  */}}
 </h1> 
  <h1 class="entry-title">
    <div class="entry-meta"></div>
      {{ end }}
      
      {{ block "main" . }}
      {{ end }}
      {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>  
</html>