{{/*  Changing settings here JB-electricite/layouts doesn't change page, go to theme layouts!  */}}
<header id="header">
  <div id="head" class="parallax" data-parallax-speed="2" style="background-image:url('{{ "images/sparkySPACE.png" | absURL }}'); background-position: center 5px;">
  <!-- other content within the div -->
  <link rel="icon" href="{{ "images/LogoJBelectricite.png" | absURL }}" type="image/png">
  <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}">
</div>  
    
    <h1 id="logo" class="block-top-header d-flex flex-wrap align-items-center justify-content-center" role="banner">
    {{/*    <img class='img-{{ .Site.Params.avatarclass | default "circle"}}' src="{{ .Site.BaseURL }}/images/LogoJBelectricite250.png" alt="JB-élec-logo">{{ .Site.Params.avatar }}
      <span class="title">{{ .Site.Params.name }}</span>  */}}
      <a href="https://JB-électricité.fr/" title="JB-électricité" class="logo-header">
      {{/*  <span class="tagline">{{ .Site.Params.description }}<br>
        <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
      </span>  */}}
   </h1>
  </div>
  {{ partial "head/menu.html" . }}
</header>
{{/*  Changing settings here JB-electricite/layouts doesn't change page, go to theme layouts!  */}}