<header id="header">
  <div id="head" class="parallax" data-parallax-speed="2" style="background-image:url('{{ "images/sparkySPACE.png" | absURL }}'); background-position: center 5px;">
  <!-- other content within the div -->
  <link rel="icon" href="{{ "images/JBelectricite.png" | absURL }}" type="image/png">
  <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}">
</div>
    <h1 id="logo" class="text-center">
      <img class='img-{{ .Site.Params.avatarclass | default "circle"}}' src="{{ .Site.BaseURL }}/images/JBelectricite.png" alt="JB-élec">{{ .Site.Params.avatar }}
      <span class="title">{{ .Site.Params.name }}</span>
      <span class="tagline">{{ .Site.Params.description }}<br>
        <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
      </span>
   </h1>
</div>

{{ partial "head/menu.html" . }}
</header>