.not-found {
    position: flex;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    color: brown;
    height: 80%;
    font-size: 40px;
    font-weight: 700;
}

.back-to-home {
    display: block;
    left: 0px;
    right: 0;
    text-align: right;
    align-items: center;
    justify-content: center;
    color: #369f14;
    height: 80%;
    font-size: 40px;
    font-weight: 700;
}